<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <header>
        <nav>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
            </li>
            <li>
                <a href="{% url 'account_list' %}">Accounts</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create Account</a>
            </li>
        </nav>
    </header>
    <main>
        <h1>My Categories</h1>
            <nav>
                <ul>
                    <a href="{% url 'create_category' %}">Create Category</a>
                </ul>
            </nav>
        <table>
            <thead>
                <div>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
                </div>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name}}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
